.Content-mods-item {
  padding: 10px 12px;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  background-color: #f9f9f9;
  justify-content: space-between;
}

.Content-mods-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.Content-mods-info-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Content-mods-item-poster {
  width: 70px;
}

.Content-mods-item-title {
  font-family: "Bellota Text";
  font-weight: 700;
  font-size: 20px;
}

.Content-mods-item-actions {
  display: flex;
  gap: 10px;
}

.Content-mods-action-button {
  display: flex;
  gap: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px;
  border-radius: 6px;
}

.Content-mods-action-button:hover {
  background-color: #acacac;
}

.Content-search-box {
  margin-bottom: 20px;
  width: 100%;
}

.Content-search-input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Bellota Text";
  font-size: 16px;
}

.Pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.page-btn {
  color: #000;
  border: 1px solid #e0e0e0;
  padding: 6px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 23px;
  transition: background 0.2s;
}

.page-btn:hover {
  background-color: #e0e0e0;
}

.page-btn.active {
  background-color: #F08982;
  border-color: #F08982;
}

.next-btn {
  background-color: #F08982;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.next-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dots {
  color: #aaa;
  padding: 0 4px;
}

.Pagination-pages {
  display: flex;
  gap: 4px;
  align-items: center;
}

.Content-filter-select {
  width: 150px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Bellota Text";
  font-size: 16px;
}

.Content-filter-input {
  width: 150px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Bellota Text";
  font-size: 16px;
}

.Content-sort-box {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
}