.Main-page {
  height: 100vh;
}

.Slider-item {
  width: 200px;
  cursor: pointer;
}

.SliderMini-item {
  width: 350px;
  cursor: pointer;
  display: flex;
}

.Anime-title {
  font-family: "Bellota Text";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
}

.Anime-title-mini {
  font-family: "Bellota Text";
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Anime-type {
  font-family: "Bellota Text";
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  color: #787878;
  margin-top: 5px;
}

.Anime-info-mini {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.Anime-addDate {
  font-family: "Bellota Text";
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #787878;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Main-new,
.Main-last {
  margin-bottom: 40px;
}

.Anime-poster {
  width: 200px;
  height: 287px;
}

.Anime-poster-mini {
  width: 60px;
  height: 86px;
}

.Stars {
  cursor: pointer;
  color: rgb(255, 215, 0);
  font-size: 50px;
  opacity: 1;
  transition: color 0.2s, transform 0.1s;
  transform: scale(1);
}