.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal-content {
  background-color: #fff;
  padding: 50px 80px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 1200px;
}

.Modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Modal-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.Modal-content-box {
  display: flex;
  gap: 80px;
}

.Modal-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Modal-button {
  padding: 10px 20px;
  background-color: #fadedc;
  color: #000;
  border: 1px solid #fadedc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.Modal-button:hover {
  background-color: #F08982;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Modal-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}