@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/static/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/static/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/static/OpenSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/static/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/static/OpenSans_Condensed-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Bellota Text';
    src: url('../fonts/Bellota_Text/BellotaText-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Bellota Text';
    src: url('../fonts/Bellota_Text/BellotaText-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Bellota Text';
    src: url('../fonts/Bellota_Text/BellotaText-Light.ttf');
    font-weight: 300;
}
