@import url(../src/assests/fonts/fonts.css);

body {
  margin: 0;
  font-family: "Bellota Text", cursive, sans-serif, "Open Sans", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
